[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Gdnf Cache
Comment=A sample application
Path=/home/natorsc/Projetos/gdnf-cache/src
Icon=/home/natorsc/Projetos/gdnf-cache/src/data/icons/hicolor/64x64/apps/br.natorsc.Gdnfcache.svg
Exec=python3 /home/natorsc/Projetos/gdnf-cache/src/Application.py
Terminal=false
Categories=GTK;GNOME;Utility;
StartupNotify=true
